---
BasedOnStyle:    llvm
Language:        Cpp
AccessModifierOffset: -1
AlignAfterOpenBracket: AlwaysBreak
AlignOperands:   false
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakStringLiterals: false
IncludeBlocks:   Regroup
IncludeCategories:
  - Regex:           '^<.*\.h(pp)?>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
IndentCaseLabels: true
PackConstructorInitializers: NextLine
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
