# SPDX-License-Identifier: Apache-2.0
name: Ubuntu Build & Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linux-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Ubuntu
        run: ./scripts/setup-ubuntu.sh
      - name: Check License Header
        uses: apache/skywalking-eyes/header@v0.4.0
      - name: Formatting Cmake files
        run: ./scripts/run-cmake-format.sh
      - name: Formatting Clang files
        run: ./scripts/run-clang-format.sh
      - name: Checking formatting
        run: git diff --exit-code
      - name: Checking code style
        run: ./scripts/run-clang-tidy.sh
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Ubuntu
        run: |
          ./scripts/setup-ubuntu.sh
          mkdir build
      - name: Run cmake
        run: |
          cmake --version
          cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Debug -DBUILD_TZ_LIB=ON
      - name: Build
        run: ninja -C build
      - name: Test
        run: ctest --test-dir build --output-on-failure --timeout 30
  darwin-arm64-check:
    needs: prepare
    runs-on: macos-14-arm64
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: Debug Build
        shell: bash
        run: make
      - name: Debug Test
        shell: bash
        run: ctest --test-dir build-Debug --output-on-failure --timeout 30

