name: Ubuntu Build & Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Ubuntu
        run: ./scripts/setup-ubuntu.sh
      - run: mkdir build
      - name: Run cmake
        run: cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Debug
      - name: Build
        run: ninja -C build
      - name: Test
        run: ctest --test-dir build
