# SPDX-License-Identifier: Apache-2.0
name: Ubuntu Build & Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Ubuntu
        run: ./scripts/setup-ubuntu.sh
      - name: Check License Header
        uses: apache/skywalking-eyes/header@v0.4.0
      - name: Formatting Cmake files
        run: ./scripts/run-cmake-format.sh
      - name: Formatting Clang files
        run: ./scripts/run-clang-format.sh
      - name: Checking formatting
        run: git diff --exit-code
      - name: Checking code style
        run: ./scripts/run-clang-tidy.sh

  ubuntu-build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Ubuntu
        run: ./scripts/setup-ubuntu.sh

      - name: Build
        run: |
          mkdir build
          cmake --version
          cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Debug -DBUILD_TZ_LIB=ON
          ninja -C build

      - name: Test
        run: ctest --test-dir build --output-on-failure --timeout 30

  windows-build-and-test:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Build
        run: |
          ./scripts/find_vs.ps1
          mkdir build
          cmake --version
          cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Debug -DBUILD_TZ_LIB=ON
          ninja -C build

      - name: Test
        run: ctest --test-dir build --output-on-failure --timeout 30
